<div class="container">
  <div class="imp"> 
    Search Product : <input type="text" [(ngModel)]='searchBy'>
    <label for="website">sortby :&nbsp;</label>
      <select (change)='changeWebsite($event)'>
      <option>choose sort</option>
      <option *ngFor='let web of websiteList'>{{web.name}}</option>
    </select> <br>
  </div>
<div class="jumbotron">
  <h1 class="display-4 text-center">Products Table!&nbsp;<button type="button" data-toggle="modal" data-target="#productModal" class='btn btn-secondary' (click)='addProduct()'>AddProduct</button></h1>
</div>
</div>
<div class="container">

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalModalLabel">Product Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <div class="form-group">
            <label>Product Name:</label>
            <input type="text" formControlName="productName" class="form-control">
            <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
              <small *ngIf="productForm.get('productName')?.errors?.required" class="text-danger">ProductName is required</small>
              <small *ngIf="productForm.get('productName')?.errors?.pattern" class="text-danger">ProductName should be valid & It should b/w 5 to 15 chars</small>
            </div>
          </div>
      
          <div class="form-group">
            <label>Product Price:</label>
            <input type="text" formControlName="productPrice" class="form-control">
          </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf='showAddUpdate' type="button" class="btn btn-success" (click)='saveProduct(productForm)'>Save</button>
        <button *ngIf='!showAddUpdate' type="button" class="btn btn-success" (click)='updateProduct()'>Update</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr *ngIf='products.length>0'>
      <th>Product ID</th> <th>Product Name</th> <th>Product Price</th><th>Update Product</th><th>Delete Product</th></tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products | grdFilterPipe:{id:searchBy, productName:searchBy, productPrice:searchBy} | gridSort:sortByName:orderBy; let i=index;'>
      <td>{{product.id}}</td>
      <td>{{product.productName | titlecase}}</td>
      <td>{{product.productPrice | currency:'INR'}}</td>
      <td><button class="btn btn-info" type="button" data-toggle="modal" data-target="#productModal" (click)='editProduct(product)'>Update <i class="fa fa-retweet"></i></button></td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete <i class="fa fa-edit"></i></button></td>
    </tr>
  </tbody>
</table>

</div>